.button {
	padding: 10px 15px;
	background: var(--tg-theme-button-color);
	color: #231F20;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: "Kanit", sans-serif;
  	font-weight: 300;
  	border: none;
  	background: #FFE6C8;
  	padding: 5px 10px;
  	border-radius: 5px;
}