.header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	justify-content: center;
	margin-bottom: 30px;
}

.header__button {
	color: #FFA744;
	font-family: "Kanit", sans-serif;
  	font-weight: 600;
}
