* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFBF1;
  color: #231F20;
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

.toggle__button {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  border: none;
  background: orange;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
	cursor: pointer;
  margin-left: 20px;
}